# Dependências
node_modules/
.pnpm-store/
.yarn/

# Ambiente
.env
.env.local

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*

# Build e diretórios de produção
dist/
build/
.next/
out/

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?